body{
    font: size 15px;
}
div{
    background-color: green  ;
    padding:25px ;
    text-align: center;
    font-weight: bold;
   }
   span{
       font-size: 30px;
       padding: 25px 120px;
   }
   
   .item2:hover{
       background-color: blue;
   }

   ul{
       background: red;
       width:100px;
       padding: 0;
       list-style-type: none;
       text-align: center
   }
   li{
       width:auto;
       height: 40px;
       line-height: 40px;
       border-bottom: 2px solid white;
       padding: 5px 1em;
       font-weight: bold;
       display: block;
   }
   li:hover{
       background: green
   }
   
   
   