*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(214, 208, 219)
}

#head{
    background-image: url("https://www.mastercard.ch/de-ch/privatkunden/offers-promotions/madrid-en/swisscard-e/_jcr_content/contentpar/hero/image.adaptive.full.high.jpg/1544796761006.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height:529px;
    padding: 200px;
    padding-left: 300px;
    color:white;
}
#head sub{
    font-size: 18px;
    color:rgb(247, 65, 65)
}
sub a{
    color:rgb(247, 65, 65)
}


.infor{
    margin-top:50px;
    margin-left: 30px;
}
.infor p{
    
    font-size: 18px;
    padding-top: 0.5px; 
    font-weight: initial;
    font-style: italic;
}

.bottom{
  display: inline;
}

.san1{
    background-image: url("http://2sao.vietnamnetjsc.vn/images/2017/06/26/11/02/san-van-dong-1.jpg");
    padding: top 100;
}
.san1:hover {
  cursor: grab;
  border: 2px solid red;
  transform: scale(1.2);
}

.san2{
    background-image: url("http://file.webthethao.vn/images/files/nam.nguyenhoang/194953192.jpg");
    padding-top: 100px;

}

.san2:hover {
    cursor: grab;
    border: 2px solid red;
    transform: scale(1.2);
  }

.san3{
    background-image: url("https://www.pototravel.com.my/thumb/391683177manchester%20united.jpg");
    padding-top: 150px;
} 
.san3:hover {
    cursor: grab;
    border: 2px solid red;
    transform: scale(1.2);
  }

.san4{
    background-image: url("https://cdn.civitatis.com/reino-unido/londres/galeria/gradas-estadio-wembley.jpg");
    padding-top: 150px;
}

.san4:hover {
    cursor: grab;
    border: 2px solid red;
    transform: scale(1.2);
  }

.middle {
    font-size: 30px;
    font-weight: bold;
    width: 70%;
    float: left;

}

.middle div{
    padding:20px ;
    padding-left: 80px;

}
 .middle div span{
    padding: 115px 150px;
    background-size: cover;
    height: 300px;
    width: 40%;
    display: inline-block;
    text-align: center;
    color:white;
    margin-left: 70px;
    border-radius: 25%;
}

 .end{
     margin-top: 30px;
     background-image: url("http://imgs.globovision.com/0GN_bhMCk_fG5JB8ts4goo781f8=/847x0/smart/a897e7d879204111b2a5e31aa0fd6f47");
     text-align: center;
     background-position: center;
     padding-top: 300px;
     background-size: cover;
     height: 620px;
     width: 25%;
     border-radius: 15%;
     font-weight: bold;
     font-size: 30px;
     color: white;
     float: left;
 } 

 .end:hover {
    cursor: grab;
    border: 2px solid red;
    transform: scale(1.2);
  }

 .clearfix{
     content:"";
     display: table;
     clear:both;
 }

 hr{
    width: 1000px;
    margin: 20px auto;
 }

  .bottom{
    /* border:2px solid red; */
    margin-top: 20px;
    margin-left: 0;
    font-weight: bold;
    height: 350px;
 } 
 
 .bottom div{
     font-size: 30px;
    padding:30px ;
    padding-left: 60px;
    text-align: center;
 }

 .bottom div span{
    padding:20px 100px;
 }

 #end{
     content:"";
     display: table;
     clear:both;
     margin-top: 30px;
     padding-left: 350px;
     /* border: 2px solid red; */
     background-color: white;
     border:2px solid white;
     display: block;
     height: 186px;

 }

.firstclass{
     margin: 20px 20px;
     width: 20%;
     /* border:1px solid red; */
     float: left;
     text-align: left;
 }
 
 .secondclass{
    margin: 20px 20px;
    width: 20%;
    /* border:1px solid red; */
    float: left;
    text-align: left;
}

.thrdclass{
    margin: 20px 20px;
    width: 20%;
    /* border:1px solid red; */
    float: left;
    text-align: left;
    margin-left: 30px;
}

.endclass{
    margin: 20px 20px;
    width: 20%;
    /* border:1px solid red; */
    float: left;
    text-align: left;
}
#end div{
    font-size: 20px;
    font-style: initial;
    font-weight: bold;
    padding-bottom: 10px;
}
p{
    font-size: 15px;
    font-style: italic;
}
a{
    color: black;
}
a:hover{
    color:blue;
}
